.ant-layout-sider {
  background-color: #40535d!important;
}
.ant-layout-sider ul {
  background-color: #40535d!important;
}
.ant-layout-sider .ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
  background-color: #4e72b8;
  width: 100%;
}
.ant-layout-sider .ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected::after {
  border: none;
}
.ant-layout-sider .ant-menu-inline .ant-menu-item,
.ant-layout-sider .ant-menu-inline .ant-menu-submenu-title {
  width: 100%;
  color: white!important;
}
.ant-layout-sider a {
  color: white!important;
  display: inline-block !important;
}
.ant-tabs-bar.ant-tabs-top-bar.ant-tabs-card-bar {
  margin-bottom: 0;
}
.ant-tabs.ant-tabs-card .ant-tabs-card-bar .ant-tabs-tab {
  padding: 0 6px!important;
  line-height: 30px!important;
}
.ant-tabs.ant-tabs-card .ant-tabs-card-bar .ant-tabs-nav-container {
  height: 30px!important;
}
.ant-menu-sub.ant-menu-inline > .ant-menu-item {
  height: 20px!important;
  line-height: 20px!important;
  padding-left: 36px!important;
}
.ant-menu-item.ant-menu-item-selected.ant-menu-item-active,
.ant-layout-sider .ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
  color: #d47d7d!important;
  background: #40535d!important;
}
.ant-menu-inline > .ant-menu-submenu > .ant-menu-submenu-title {
  height: 30px!important;
  line-height: 30px!important;
  padding-left: 16px;
}
.ant-layout-sider-zero-width-trigger {
  z-index: 1!important;
  top: 32px!important;
  height: 31px!important;
  line-height: 31px!important;
}
.ant-layout-sider-trigger {
  height: 24px!important;
  line-height: 24px!important;
}
.ant-layout-sider-has-trigger {
  padding-bottom: 24px!important;
}
